/* Inputs */

input {
    display: block;

    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    margin-block-end: 12px;

    background: var(--full-background);
    color: var(--foreground);

    border-radius: 6px;
    border: solid 1px var(--shade-border);

    outline: 0px solid transparent;

    transition-property: border-color, outline-color;
    transition: 0.2s ease-in-out;
}

input:focus {
    border-color: var(--accent);
    outline: 2px solid var(--accent-shade);
}

form > *:last-child {
    margin-block-end: 0;
}

form button, form input[type="button"] {
    display: block;
    width: 100%;
    margin-block-end: 12px;
}

form .fill {
    width: 100%;
}

form label {
    display: block;
    margin-block: 8px;
    color: var(--foreground);
    text-align: start;
    box-sizing: border-box;
}



form .inputGroup {
    width: 100%;
    min-height: 52px;
    margin-block-end: 12px;

    position: relative;

    /* padding-block-start: calc(8px + 1rem + 6px); */

    background: var(--full-background);
    color: var(--foreground);

    border-radius: 6px;
    border: solid 1px var(--shade-border);

    outline: 0px solid transparent;

    transition-property: border-color, outline-color;
    transition: 0.2s ease-in-out;
}

form .inputGroup:focus-within {
    border-color: var(--accent);
    outline: 2px solid var(--accent-shade);
}

form .inputGroup input {
    margin: 0;
    border: none;
    padding-block-start: calc(8px + 0.9rem + 6px);
    padding-block-end: 8px;
}

form .inputGroup input:focus {
    outline: none;
}

form .inputGroup label {
    position: absolute;
    transition: 0.2s ease-out;
}

form .inputGroup label.prefix {
    /* position: absolute; */
    bottom: 0;
    margin-inline: 12px;
}

form .inputGroup:has(label.prefix) input {
    padding-inline-start: 36px;
}

form .inputGroup:not(:focus-within) input:placeholder-shown ~ label.prefix {
    opacity: 0;
}

form .inputGroup label.float {
    top: 50%;
    /* position: relative;
    top: 0; */
    font-size: 1rem;
    opacity: .75;
    /* margin: 8px 12px 0; */
    margin: 0 12px;

    /* transform-origin: top left;

    transform: translateY(8px); */
    transform: translateY(-50%);
}

form .inputGroup label.prop {
    margin: 0 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

form .inputGroup:not(:focus-within) input {
    opacity: 0;
}

form .inputGroup input:not(:placeholder-shown) {
    opacity: 1;
}

form .inputGroup:focus-within label.float,
form .inputGroup input:not(:placeholder-shown) + label.float,
form .inputGroup.file label.float {
    font-size: 0.9rem;
    top: 8px;
    transform: none;
}

form .inputGroup.file label.upload {
    opacity: 1;
    transform: none;
    font-size: 1rem;
    bottom: 0;
    margin-block-end: 12px;
    margin-inline: 0;
    padding-inline: 12px;

    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


form .inputGroup.toggle > .toggle {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    display: inline-flex;
    gap: 4px;
}
form .inputGroup.toggle > .toggle > div {
    min-width: 80px;
    padding-block: 8px;
    overflow: hidden;

    text-align: center;

    border-radius: 4px;
    border: 1px solid var(--shade-border);

    transition: 0.2s ease-out;
}
form .inputGroup.toggle > .toggle > div:has(input:checked) {
    background-color: var(--accent);
    color: var(--full-background);
    border-color: var(--accent);
}
form .inputGroup.toggle > .toggle input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

form .inputGroup.select > select {
    width: 100%;
    height: 100%;
    position: absolute;

    padding: 0 36px;

    appearance: none;
    border: none;
    background: none;
    text-align: end;
    color: var(--foreground);
}

form .inputGroup.select > .expand {
    position: absolute;
    right: 0;
    top: 50%;

    font-size: 1.5rem;

    margin: 0 12px;

    transform: translateY(-50%);

    user-select: none;
    pointer-events: none;
}


form .inputGroup.file input[type="file"] {
    visibility: hidden;
}

form .inputGroup.invalid {
    border-color: red;
    margin-bottom: calc(2rem + 4px);
}

form .inputGroup span.errorInfo {
    display: none;
    font-size: 0.9rem;

    color: red;
    text-align: start;

    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 4px));

    margin-inline: 12px;
}
form .inputGroup.invalid span.errorInfo {
    display: block;
}

/* Error Messages */

form label#errMessage {
    display: flex;
    gap: 8px;
    align-items: center;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    padding: 6px 8px;
    border-radius: 4px;
}