

.center {
    height: 100vh;
}


.card {
    padding: 16px;
    border: solid 1px hsla(0 0% 0% / 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    /* margin: 8px; */
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

#products > div {
    width: 100%;
}


/* Section */

section {
    padding: 32px;
    width: 80%;
    margin: auto;
}


/* Header */

header {
    width: 100%;
    min-height: 100px;

    box-sizing: border-box;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;

    transition-property: backdrop-filter, box-shadow, border;
    transition: 0.25s ease-out;
}

header.sticky {
    background-color: var(--shade);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px hsla(0 0% 0% / 0.1);
}

header > h1 {
    margin: 0;
}


/* .formContainer {

} */